<!DOCTYPE html>
<html lang="en-US" class="css3transitions">


<head>
    <meta charset="UTF-8" />
    <!-- Title -->
    <title>ClueMinds</title>
    <!-- Responsive Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!-- Pingback URL -->
    <link rel="pingback" href="xmlrpc.html" />
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>

    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>

    <![endif]-->
    <meta name="keywords" content="iot products,webdesign,analytics,embedded,cms,ems,android,ios,application,app,webdevelopment,software
    development,software Design,school erp,tourist application,Cloud application,internet of things,best web development in bangalore,best it company in bangalore,ems application,cms application,best software company in bangalore"/>
    <meta name="description" content="ClueMinds is a digital transformation IT consulting &amp; services company focusing on webdesign, Analytics Cloud, Mobility &amp; global information technology, consulting and outsourcing company. From engineering to application development, knowledge management and business process managementr"/>
    <link rel='stylesheet' href='http://www.clueminds.com/assets/plugins/LayerSlider/static/css/layerslider.css' type='text/css' media='all' />
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Lato:100,300,regular,700,900%7COpen+Sans:300%7CIndie+Flower:regular%7COswald:300,regular,700&amp;subset=latin%2Clatin-ext' type='text/css' media='all' />
    <link rel='stylesheet' href='http://www.clueminds.com/assets/plugins/revslider/rs-plugin/css/settings.css' type='text/css' media='all' />
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Open+Sans%3A100%2C400%2C300%2C500%2C600%2C700%2C300italic' type='text/css' media='all' />
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Satisfy' type='text/css' media='all' />
    <link rel='stylesheet' href='http://www.clueminds.com/assets/css/style.css' type='text/css' media='all' />
    <link rel='stylesheet' href='http://www.clueminds.com/assets/css/bootstrap.css' type='text/css' media='all' />
    <link rel='stylesheet' href='http://www.clueminds.com/assets/css/bootstrap-responsive.css' type='text/css' media='all' />
    <link rel='stylesheet' href='http://www.clueminds.com/assets/css/odometer-theme-minimal.css' type='text/css' media='all' />
    <link rel='stylesheet' href='http://www.clueminds.com/assets/fancybox/source/jquery.fancybox.css' type='text/css' media='all' />
    <link rel='stylesheet' href='http://www.clueminds.com/assets/css/hoverex-all.css' type='text/css' media='all' />
    <link rel='stylesheet' href='assets/css/vector-icons.css' type='text/css' media='all' />
    <link rel='stylesheet' href='assets/css/font-awesome.min.css' type='text/css' media='all' />
    <link rel='stylesheet' href='http://www.clueminds.com/assets/css/linecon.css' type='text/css' media='all' />
    <link rel='stylesheet' href='http://www.clueminds.com/assets/css/steadysets.css' type='text/css' media='all' />
    <link rel='stylesheet' href='http://www.clueminds.com/assets/css/jquery.easy-pie-chart.css' type='text/css' />
    <link rel='stylesheet' href='http://www.clueminds.com/assets/css/idangerous.swiper.css' type='text/css' />
    <link rel='stylesheet' href='http://www.clueminds.com/assets/css/eldo.css' type='text/css' />
    <link rel='stylesheet' href='assets/css/custom.css' type='text/css' />
    <link rel='stylesheet' href='http://www.clueminds.com/assets/plugins/js_composer/assets/css/js_composer.css' type='text/css' />
    <link rel='stylesheet' href='http://www.clueminds.com/assets/uploads/js_composer/custom.css' type='text/css' />

    <script type='text/javascript' src='http://www.clueminds.com/assets/plugins/LayerSlider/static/js/greensock.js'></script>
    <script type='text/javascript' src='http://www.clueminds.com/assets/includes/js/jquery/jquery.js'></script>
    <script type='text/javascript' src='http://www.clueminds.com/assets/includes/js/jquery/jquery-migrate.min.js'></script>
    <script type='text/javascript' src='http://www.clueminds.com/assets/plugins/LayerSlider/static/js/layerslider.kreaturamedia.jquery.js'></script>
    <script type='text/javascript' src='http://www.clueminds.com/assets/plugins/LayerSlider/static/js/layerslider.transitions.js'></script>
    <script type='text/javascript' src='http://www.clueminds.com/assets/plugins/revslider/rs-plugin/js/jquery.themepunch.tools.min.js'></script>
    <script type='text/javascript' src='http://www.clueminds.com/assets/plugins/revslider/rs-plugin/js/jquery.themepunch.revolution.min.js'></script>
    <script type='text/javascript' src='http://www.clueminds.com/assets/js/jquery.easy-pie-chart.js'></script>
    <script type='text/javascript' src='http://www.clueminds.com/assets/js/jquery.appear.js'></script>
    <script type='text/javascript' src='http://www.clueminds.com/assets/js/modernizr.custom.66803.js'></script>
    <script type='text/javascript' src='http://www.clueminds.com/assets/js/odometer.min.js'></script>
    <script type='text/javascript' src='http://www.clueminds.com/assets/js/animations.js'></script>
    <script type='text/javascript' src='http://www.clueminds.com/assets/js/bootstrap.min.js'></script>
    <script type='text/javascript' src='http://www.clueminds.com/assets/js/jquery.easing.1.1.js'></script>
    <script type='text/javascript' src='http://www.clueminds.com/assets/js/jquery.easing.1.3.js'></script>
    <script type='text/javascript' src='http://www.clueminds.com/assets/js/jquery.mobilemenu.js'></script>
    <script type='text/javascript' src='http://www.clueminds.com/assets/js/isotope.js'></script>
    <script type='text/javascript' src='http://www.clueminds.com/assets/js/layout-mode.js'></script>
    <script type='text/javascript' src='http://www.clueminds.com/assets/js/masonry.pkgd.min.js'></script>
    <script type='text/javascript' src='http://www.clueminds.com/assets/js/jquery.cycle.all.js'></script>
    <script type='text/javascript' src='http://www.clueminds.com/assets/js/customSelect.jquery.min.js'></script>
    <script type='text/javascript' src='http://www.clueminds.com/assets/js/jquery.flexslider-min.js'></script>
    <script type='text/javascript' src='http://www.clueminds.com/assets/fancybox/source/jquery.fancybox.js'></script>
    <script type='text/javascript' src='http://www.clueminds.com/assets/fancybox/source/helpers/jquery.fancybox-media.js'></script>
    <script type='text/javascript' src='http://www.clueminds.com/assets/js/jquery.carouFredSel-6.1.0-packed.js'></script>
    <script type='text/javascript' src='http://www.clueminds.com/assets/js/tooltip.js'></script>
    <script type="text/javascript" src="../../cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.13.1/jquery.validate.js"></script>
    <meta name="keywords" content="clueminds pvt limited,iot products,webdesign,analytics,embedded,cms,ems,android,ios,application,app,webdevelopment,software
development,software Design,school erp,tourist application,Cloud application,internet of things,best web development in bangalore,best it company in bangalore,ems application,cms application,best software company in bangalore">
<meta name="description" content="ClueMinds is a digital transformation IT consulting &amp; services company focusing on webdesign, Analytics Cloud, Mobility &amp; global information technology, consulting and outsourcing company. From engineering to application development, knowledge management and business process managementr">
<body class="home page page-template-default header_1_body fullwidth_slider_page with_slider_page wpb-js-composer vc_responsive">


    <style>
.dropbtn {
    background-color: #FFFFFF;
    color: black;
    padding: 12px;
    font-size: 12px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px ;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #FFFFFF;
}
</style>
<meta name="iot,web-design,fullstack,embedded"
         content="iot products,webdesign,analytics,embedded,cms,">
</head>
<!-- End of Header -->
<!--style>
.dropbtn {
    background-color: #FFFFF0;
    color: black;
    padding: 2px;
    font-size: 14px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: #787d87;
    padding: 10px ;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #FFFFF0;
}
</style-->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','../../www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-55682049-5', 'auto');
  ga('send', 'pageview');
</script>
<body class="single single-post  page-template-default header_1_body page_header_yes wpb-js-composer vc_responsive">
    <!-- Used for boxed layout -->
    <!-- Start Top Navigation -->
     <div class="top_nav">
        <div class="container">
            <div class="row-fluid">
                <div class="span6">
                    <div class="pull-left">
                        <div id="widget_topnav-2" class="widget widget_topnav">
                            <div class="topinfo">
                            <span class="phone"><i class="moon-phone"></i>+91 7892854744 </span>

                            </div>
                        </div>
                        <div id="widget_topinfo-2" class="widget widget_topinfo">
                            <div class="topinfo">
                            <span class="email"><i class="icon-envelope"></i>info@clueminds.com</span>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- End of Top Navigation -->
    <!-- Page Background used for background images -->
    <div id="page-bg"></div>
    <!-- Header BEGIN -->
    <div class="header_wrapper header_1 no-transparent  ">
        <header id="header" class="sticky_header ">
            <div class="container">
                <div class="row-fluid">
                    <div class="span12">
                        <!-- Logo -->
                         <div id="logo">
                            <a href='index'><img src='assets/img/clueminds3.png' class="img-responsive" alt="Responsive image"/></a>
                        </div>
                        <!-- #logo END -->
                        <div class="after_logo">
                        </div>
                        <!-- Show for all header expect header 4 -->
                       <div id="navigation" class="nav_top pull-right  ">
                            <nav>
                                <ul id="menu-menu-1" class="menu themeple_megemenu">

                                    <li class="  menu-item-has-children"><a href="index">Home</a>

                                    </li>


                                    <li class="menu-item   menu-item-has-children"><a href="about">About Us</a>

                                    </li>
                                    <li class="  menu-item-has-children"><a href="projects">Projects</a>
                                    </li>
                                    <li class="menu-item   menu-item-has-children"><a href="service">Service</a>
                                    </li>

                                    <li  class="  current-menu-ancestor current_page_ancestor menu-item-has-children"><a href="contact">Contact Us</a>

                                    </li>
                                    <li class="dropdown menu-item-has-children">
                                      <button class="dropbtn current-menu-ancestor  menu-item-has-children current_page_ancestor"><a href="expertise">Expertise</a></button>
                                         <div class="dropdown-content menu-item-has-children">
                                           <a href="iot">IOT</a>
                                           <a href="embedded">Embedded</a>
                                           <a href="testing">Testing</a>
                                           <a href="fullstack">FullStack</a>
                                         </div>
                                    </li>

                                </ul>
                            </nav>
                        </div>
                        <!-- #navigation -->
                        <!-- End custom menu here -->
                        <a href="#" class="mobile_small_menu open"><img src="assets/img/res_m_open.png"></a>
                    </div>
                </div>
            </div>
            <div class="header_shadow"><span class=""></span></div>
        </header>
        <div class="header_shadow"><span class=""></span></div>
        <!-- Responsive Menu -->
        <div class="menu-small">
        <ul class="menu">
                <li class="menu-small menu-item-has-children"><a href="index">Home</a></li>


                <li class="menu-small menu-item-has-children"><a href="about">About Us</a></li>

                <li class="menu-small menu-item-has-children"><a href="projects">Projects</a></li>

                <li class="menu-small menu-item-has-children"><a href="service">Service</a></li>

                <li class="menu-small menu-item-has-children"><a href="contact">Contact Us</a></li>
                <li  class="dropdown menu-small">
                  <div class="menu-small menu-item-has-children">
                    <button style="color: #444444" class="dropbtn current-menu-ancestor  menu-item-has-children current_page_ancestor"><b>Expertise</b></button>
                     <div class="dropdown-content">
                       <a href="iot">IOT</a>
                       <a href="embedded">Embedded</a>
                       <a href="testing">Testing</a>
                       <a href="fullstack">FullStack</a>
                     </div>
                   </div>
                </li>
            </ul>
        </div>
        <!-- End Responsive Menu -->
    </div>
    <div class="top_wrapper   no-transparent">
        <!-- .header -->
        <!-- Page Head -->
        <div class="header_page basic background_image" style="background-image:url(assets/img/default_header.jpg);background-repeat: no-repeat; -webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;background-size: cover; color:#2f383d; ">
            <div class="container">
                <style>
                .breadcrumbs_c {
                    color: #fff;
                    font-size: 13px;
                }

                h1.title {
                    color: #fff !important;
                    font-size: 50px
                }
                </style>
                <h1 class="title">Contact Page</h1>
                <div class="breadcrumbss">
                    <ul class="page_parents pull-right">
                        <li class="breadcrumbs_c"><i class="moon-home-3"></i>&nbsp;&nbsp;&nbsp;You are here</li>
                        <li class="breadcrumbs_c"><a class="breadcrumbs_c" href="">Home</a></li>
                        <li class="breadcrumbs_c"><a class="breadcrumbs_c" href="">Contact Page</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <section id="content" class="composer_content">
            <div id="fws_556c6eb7cc395" class="wpb_row animate_onoffset  vc_row-fluid  animate_onoffset row-dynamic-el standard_section    " style="padding-top: 0px !important; padding-bottom: 0px !important; ">
                <div class="container  dark">
                    <div class="section_clear">
                        <div class="vc_col-sm-12 wpb_column column_container" style="" data-animation="" data-delay="0">
                            <div class="wpb_wrapper">
                                <div class="wpb_content_element">
                                    <div class="row-fluid row-google-map " style="position:relative; height:350px;">
                                        <div class="overlay" onClick=" style.pointerEvents= &apos; none &apos; "></div>

                                          <iframe class="googlemap " style="height:350px;" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
                                          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3887.1129371784355!2d77.65917651431488!3d13.028479417153937!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae10ce47ba7ecb%3A0xbbe5d43b5f92bbac!2s10%2C+2nd+Cross+Street%2C+Chinnaswamappa+Layout%2C+Horamavu%2C+Bengaluru%2C+Karnataka+560043!5e0!3m2!1sen!2sin!4v1488093250119"></iframe>
                                        <div class="desc"></div>
                                    </div>
                                </div>
                                <div style='margin-top:-36px' class="divider__ big_shadow"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="fws_556c6eb7ccfe5" class="wpb_row animate_onoffset  vc_row-fluid  animate_onoffset row-dynamic-el standard_section    " style="padding-top: 0px !important; padding-bottom: 0px !important; ">
                <div class="container  dark">
                    <div class="section_clear">
                        <div class="vc_col-sm-8 wpb_column column_container" style="" data-animation="" data-delay="0">
                            <div class="wpb_wrapper">
                                <div class="contact_form wpb_content_element">
                                    <div class="row-fluid">
                                        <div class="row-fluid">
                                            <div class="span12">
                                              <form name="contactForm" id="contactForm" class="standard-form row-fluid" action="contact" method="post">
                                                <label for = "username" UserName </label>
                                                <input class="span6" id="username" name="name" placeholder="Name" type="text" required>
                                                <label for = "useremail" Email </label>
                                                <input class="span6" id="useremail" name="email" placeholder="E-Mail" type="email"required>
                                                <label for = "userephone" PhoneNumber </label>
                                                <input class="span6" id="userephone" name="phoneno" placeholder="Phone-No" type="text" required>
                                                <label for = "usersubject" Subject </label>
                                                <input class="span6" id="usersubject" name="subject" placeholder="Subject" type="text" required>

                                                <textarea class="span12" placeholder="Message" name="message" cols="40" rows="7" id="themeple_message" required></textarea>
                                                    <p class="perspective">
                                                        <input type="submit" value="Submit Form" class="btn-system normal default" />
                                                    </p>
                                                </form>
                                                <div id="ajaxresponse"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="vc_col-sm-4 wpb_column column_container" style="" data-animation="" data-delay="0">
                            <div class="wpb_wrapper">
                                <div class="wpb_content_element contact_info">
                                    <div class="header">
                                        <h2>Contact Info</h2></div>
                                    <div class="content">
                                        <p>Address : #1,2nd main,Horamavu main road,
                                            <br /> Papanna Layout, Opp. to State Bank Of India,
                                            <br /> Bangalore-560043
                                            <br /> Email : info@clueminds.com
                                            <br /> Telephone:+91 7892854744</p>

        </section>
        <!-- Social Profiles -->
        <!-- Footer -->
    </div>
    <div class="footer_wrapper">

     <footer id="footer" class="type_">
            <div class="inner">
                <div class="container">
                    <div class="row-fluid ff">
                        <!-- widget -->
                        <div class="span4">
                            <div id="text-2" class="widget widget_text">
                                <h4 class="widget-title">About ClueMinds</h4>
                                <div class="textwidget" style="text-align: justify;">Clue Minds is a global information technology, consulting and outsourcing company. From engineering to application development, knowledge management and business process management, we help our clients find the right problems to solve, and to solve these effectively.</div>
                            </div>
                        </div>
 <div class="span4">
                            <div id="widget_recent_content-2" class="widget widget_recent_content">
                                <h4 class="widget-title">Recent Posts</h4>
                                <div id="popular_widget">
                                    <dl>
                                        <dt>
                                            <i class='moon-pencil'></i>
                                        </dt>
                                        <dd>
                                            <div class="title"><a href="http://clueminds.blogspot.in/">Blog Published</a></div>

                                        </dd>
                                    </dl>
                                    <dl>
                                        <dt>
                                            <i class='moon-pencil'></i>
                                        </dt>
                                        <dd>
                                            <div class="title"><a href="https://twitter.com/clueminds">Twitter Post</a></div>

                                        </dd>
                                    </dl>
                                    <dl>
                                        <dt>
                                            <i class='moon-pencil'></i>
                                        </dt>
                                        <dd>
                                            <div class="title"><a href="https://www.facebook.com/Clueminds">Facebook</a></div>

                                        </dd>
                                    </dl>
                                </div>
                            </div>
                        </div>

                        <div class="span4">
                            <div id="widget_contact_info-2" class="widget widget_contact_info">
                                <h4 class="widget-title">Contact Info</h4>
                                <ul>
                                    <li class="address">

                                        <span>#1,2nd main,Horamavu main road,Papanna Layout,</span><br>
                                        <span>Opp. to State Bank Of India, </span><br>
                                        <span>Bangalore-560043</span>

                                        </li>
                                    <li class="email"><span>info@clueminds.com</span></li>
                                    <li class="phone"><span>+91 7892854744 </span></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="arrow_down"><i class="icon-angle-up"></i></div>
            </div>
            <div id="copyright">
                <div class="container">
                    <div class="row-fluid">
                        <div class="span12 desc">
                            <div class="span4">
                                <div id="text-3" class="widget widget_text">
                                    <div class="textwidget">COPYRIGHT &copy; 2017 - ALL RIGHTS RESERVED</div>
                                </div>
                            </div>
                            <div class="span4"></div>
                            <div class="span4">
                                <div id="nav_menu-2" class="widget widget_nav_menu">
                                    <div class=" megamenu_container">
                                        <ul id="menu-footer" class="menu themeple_megemenu">
                                            <li class="menu-item   current-menu-item current_page_item menu-item-home"><a href="index">Home</a></li>
                                            <li class="  current_page_parent"><a href="about">About Us</a></li>
                                            <li><a href="projects">Projects</a></li>
                                            <li><a href="service">Service</a></li>
                                            <li><a href="contact">Contact Page</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- #copyright -->
        </footer>
        <!--Start of Tawk.to Script-->
<script type="text/javascript">
var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
(function(){
var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
s1.async=true;
s1.src='https://embed.tawk.to/593939d14374a471e7c520b9/default';
s1.charset='UTF-8';
s1.setAttribute('crossorigin','*');
s0.parentNode.insertBefore(s1,s0);
})();
</script>

        <!-- #footer -->
    </div>
    <script type='text/javascript' src='assets/js/jquery.hoverex.js'></script>
    <script type='text/javascript' src='assets/js/imagesloaded.pkgd.min.js'></script>
    <script type='text/javascript' src='assets/js/jquery.parallax.js'></script>
    <script type='text/javascript' src='assets/js/jquery.cookie.js'></script>
    <script type='text/javascript' src='assets/js/main.js'></script>
    <script type='text/javascript' src='assets/includes/js/comment-reply.min.js'></script>
    <script type='text/javascript' src='assets/js/jquery.placeholder.min.js'></script>
    <script type='text/javascript' src='assets/js/jquery.livequery.js'></script>
    <script type='text/javascript' src='assets/js/jquery.countdown.min.js'></script>
    <script type='text/javascript' src='assets/js/waypoints.min.js'></script>
    <script type='text/javascript' src='assets/js/background-check.min.js'></script>
    <script type='text/javascript' src='assets/js/idangerous.swiper.min.js'></script>
    <script type='text/javascript' src='assets/js/jquery.infinitescroll.js'></script>
    <script type='text/javascript' src='assets/plugins/js_composer/assets/js/js_composer_front.js'></script>
    <script type='text/javascript' src='assets/includes/js/jquery/ui/core.min.js'></script>
    <script type='text/javascript' src='assets/includes/js/jquery/ui/widget.min.js'></script>
    <script type='text/javascript' src='assets/includes/js/jquery/ui/accordion.min.js'></script>
</body>


</html>
