<!DOCTYPE html>
<html lang="en-US" class="css3transitions">


<head>
    <meta charset="UTF-8" />
    <!-- Title -->
    <title>ClueMinds - Services</title>
    <!-- Responsive Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!-- Pingback URL -->
    <link rel="pingback" href="xmlrpc.html" />
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>

    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>

    <![endif]-->
    <meta name="keywords" content="iot products,webdesign,analytics,embedded,cms,ems,android,ios,application,app,webdevelopment,software
    development,software Design,school erp,tourist application,Cloud application,internet of things,best web development in bangalore,best it company in bangalore,ems application,cms application,best software company in bangalore"/>
    <meta name="description" content="ClueMinds is a digital transformation IT consulting &amp; services company focusing on webdesign, Analytics Cloud, Mobility &amp; global information technology, consulting and outsourcing company. From engineering to application development, knowledge management and business process managementr"/>
    <link rel='stylesheet' href='http://www.clueminds.com/assets/plugins/LayerSlider/static/css/layerslider.css' type='text/css' media='all' />
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Lato:100,300,regular,700,900%7COpen+Sans:300%7CIndie+Flower:regular%7COswald:300,regular,700&amp;subset=latin%2Clatin-ext' type='text/css' media='all' />
    <link rel='stylesheet' href='http://www.clueminds.com/assets/plugins/revslider/rs-plugin/css/settings.css' type='text/css' media='all' />
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Open+Sans%3A100%2C400%2C300%2C500%2C600%2C700%2C300italic' type='text/css' media='all' />
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Satisfy' type='text/css' media='all' />
    <link rel='stylesheet' href='http://www.clueminds.com/assets/css/style.css' type='text/css' media='all' />
    <link rel='stylesheet' href='http://www.clueminds.com/assets/css/bootstrap.css' type='text/css' media='all' />
    <link rel='stylesheet' href='http://www.clueminds.com/assets/css/bootstrap-responsive.css' type='text/css' media='all' />
    <link rel='stylesheet' href='http://www.clueminds.com/assets/css/odometer-theme-minimal.css' type='text/css' media='all' />
    <link rel='stylesheet' href='http://www.clueminds.com/assets/fancybox/source/jquery.fancybox.css' type='text/css' media='all' />
    <link rel='stylesheet' href='http://www.clueminds.com/assets/css/hoverex-all.css' type='text/css' media='all' />
    <link rel='stylesheet' href='assets/css/vector-icons.css' type='text/css' media='all' />
    <link rel='stylesheet' href='assets/css/font-awesome.min.css' type='text/css' media='all' />
    <link rel='stylesheet' href='http://www.clueminds.com/assets/css/linecon.css' type='text/css' media='all' />
    <link rel='stylesheet' href='http://www.clueminds.com/assets/css/steadysets.css' type='text/css' media='all' />
    <link rel='stylesheet' href='http://www.clueminds.com/assets/css/jquery.easy-pie-chart.css' type='text/css' />
    <link rel='stylesheet' href='http://www.clueminds.com/assets/css/idangerous.swiper.css' type='text/css' />
    <link rel='stylesheet' href='http://www.clueminds.com/assets/css/eldo.css' type='text/css' />
    <link rel='stylesheet' href='assets/css/custom.css' type='text/css' />
    <link rel='stylesheet' href='http://www.clueminds.com/assets/plugins/js_composer/assets/css/js_composer.css' type='text/css' />
    <link rel='stylesheet' href='http://www.clueminds.com/assets/uploads/js_composer/custom.css' type='text/css' />

    <script type='text/javascript' src='http://www.clueminds.com/assets/plugins/LayerSlider/static/js/greensock.js'></script>
    <script type='text/javascript' src='http://www.clueminds.com/assets/includes/js/jquery/jquery.js'></script>
    <script type='text/javascript' src='http://www.clueminds.com/assets/includes/js/jquery/jquery-migrate.min.js'></script>
    <script type='text/javascript' src='http://www.clueminds.com/assets/plugins/LayerSlider/static/js/layerslider.kreaturamedia.jquery.js'></script>
    <script type='text/javascript' src='http://www.clueminds.com/http://www.clueminds.com/assets/plugins/LayerSlider/static/js/layerslider.transitions.js'></script>
    <script type='text/javascript' src='http://www.clueminds.com/assets/plugins/revslider/rs-plugin/js/jquery.themepunch.tools.min.js'></script>
    <script type='text/javascript' src='http://www.clueminds.com/assets/plugins/revslider/rs-plugin/js/jquery.themepunch.revolution.min.js'></script>
    <script type='text/javascript' src='http://www.clueminds.com/assets/js/jquery.easy-pie-chart.js'></script>
    <script type='text/javascript' src='http://www.clueminds.com/assets/js/jquery.appear.js'></script>
    <script type='text/javascript' src='http://www.clueminds.com/assets/js/modernizr.custom.66803.js'></script>
    <script type='text/javascript' src='http://www.clueminds.com/assets/js/odometer.min.js'></script>
    <script type='text/javascript' src='http://www.clueminds.com/assets/js/animations.js'></script>
    <script type='text/javascript' src='http://www.clueminds.com/assets/js/bootstrap.min.js'></script>
    <script type='text/javascript' src='http://www.clueminds.com/assets/js/jquery.easing.1.1.js'></script>
    <script type='text/javascript' src='http://www.clueminds.com/assets/js/jquery.easing.1.3.js'></script>
    <script type='text/javascript' src='http://www.clueminds.com/assets/js/jquery.mobilemenu.js'></script>
    <script type='text/javascript' src='http://www.clueminds.com/assets/js/isotope.js'></script>
    <script type='text/javascript' src='http://www.clueminds.com/assets/js/layout-mode.js'></script>
    <script type='text/javascript' src='http://www.clueminds.com/assets/js/masonry.pkgd.min.js'></script>
    <script type='text/javascript' src='http://www.clueminds.com/assets/js/jquery.cycle.all.js'></script>
    <script type='text/javascript' src='http://www.clueminds.com/assets/js/customSelect.jquery.min.js'></script>
    <script type='text/javascript' src='http://www.clueminds.com/assets/js/jquery.flexslider-min.js'></script>
    <script type='text/javascript' src='http://www.clueminds.com/assets/fancybox/source/jquery.fancybox.js'></script>
    <script type='text/javascript' src='http://www.clueminds.com/assets/fancybox/source/helpers/jquery.fancybox-media.js'></script>
    <script type='text/javascript' src='http://www.clueminds.com/assets/js/jquery.carouFredSel-6.1.0-packed.js'></script>
    <script type='text/javascript' src='http://www.clueminds.com/assets/js/tooltip.js'></script>

   <meta name="keywords"
   content="iotproducts,webdesign,analytics,embedded,cms,ems,android,ios,application,app,webdevelopment,software
development,software Design,school erp,tourist application,Cloud application,internet of things,best web development in bangalore,best it company in bangalore,ems application,cms application,best software company in bangalore">
<meta name="description" content="ClueMinds is a digital transformation IT consulting &amp; services company focusing on webdesign, Analytics Cloud, Mobility &amp; global information technology, consulting and outsourcing company. From engineering to application development, knowledge management and business process managementr">


    <style>
    p.sansserif {
    font-family: Arial, Helvetica, sans-serif;
}
.dropbtn {
    background-color: #FFFFFF;
    color: black;
    padding: 12px;
    font-size: 12px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px ;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #FFFFFF;
}
</style>
<meta name="iot,web-design,fullstack,embedded"
         content="iot products,webdesign,analytics,embedded,cms,">
</head>
<!-- End of Header -->
<!--style>
.dropbtn {
    background-color: #FFFFF0;
    color: black;
    padding: 2px;
    font-size: 14px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: #787d87;
    padding: 10px ;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #FFFFF0;
}
</style-->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','../../www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-55682049-5', 'auto');
  ga('send', 'pageview');

</script>
<body class="home page page-template-default header_1_body page_header_yes wpb-js-composer vc_responsive">
    <!-- Used for boxed layout -->
    <!-- Start Top Navigation -->
     <div class="top_nav">
        <div class="container">
            <div class="row-fluid">
                <div class="span6">
                    <div class="pull-left">
                        <div id="widget_topnav-2" class="widget widget_topnav">
                            <div class="topinfo">
                            <span class="phone"><i class="moon-phone"></i>+91 7892854744 </span>

                            </div>
                        </div>
                        <div id="widget_topinfo-2" class="widget widget_topinfo">
                            <div class="topinfo">
                            <span class="email"><i class="icon-envelope"></i>info@clueminds.com</span>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- End of Top Navigation -->
    <!-- Page Background used for background images -->
    <div id="page-bg"></div>
    <!-- Header BEGIN -->
    <div class="header_wrapper header_1 no-transparent  ">
        <header id="header" class="sticky_header ">
            <div class="container">
                <div class="row-fluid">
                    <div class="span12">
                        <!-- Logo -->
                          <div id="logo" >
                            <a href='index'><img src='assets/img/clueminds3.png' class="img-responsive" alt="Responsive image"  /></a>
                        </div>
                        <!-- #logo END -->
                        <div class="after_logo"></div>
                        <!-- Show for all header expect header 4 -->
                        <div id="navigation" class="nav_top pull-right  ">
                            <nav>
                                <ul id="menu-menu-1" class="menu themeple_megemenu">

                                    <li class= "menu-item-has-children"><a href="index">Home</a>

                                    </li>


                                    <li class="menu-item-has-children"><a href="about">About Us</a>

                                    </li>
                                    <li class="  menu-item-has-children"><a href="projects">Projects</a>

                                    </li>
                                    <li   class="  current-menu-ancestor current_page_ancestor menu-item-has-children"><a href="service">Service</a>
                                    </li>

                                    <li class="  menu-item-has-children"><a href="contact">Contact Us</a>

                                    </li>
                                    <li class="dropdown menu-item-has-children">
                                      <button style="color: #787d87" class="dropbtn current-menu-ancestor  menu-item-has-children current_page_ancestor"><b href="expertise">Expertise</b></button>
                                         <div class="dropdown-content menu-item-has-children">
                                           <a href="iot">IOT</a>
                                           <a href="embedded">Embedded</a>
                                           <a href="testing">Testing</a>
                                           <a href="fullstack">FullStack</a>
                                         </div>
                                    </li>

                                </ul>
                            </nav>
                        </div>
                        <!-- #navigation -->
                        <!-- End custom menu here -->
                        <a href="#" class="mobile_small_menu open"><img src="assets/img/res_m_open.png"></a>
                    </div>
                </div>
            </div>
            <div class="header_shadow"><span class=""></span></div>
        </header>
        <div class="header_shadow"><span class=""></span></div>
        <!-- Responsive Menu -->
        <div class="menu-small">
        <ul class="menu">
                <li class="menu-small menu-item-has-children"><a href="index">Home</a></li>


                <li class="menu-small menu-item-has-children"><a href="about">About Us</a></li>

                <li class="menu-small menu-item-has-children"><a href="projects">Projects</a></li>

                <li class="menu-small menu-item-has-children"><a href="service">Service</a></li>

                <li class="menu-small menu-item-has-children"><a href="contact">Contact Us</a></li>
                <li  class="dropdown">
                  <div class="menu-small menu-item-has-children">
                    <button style="color: #787d87" class="dropbtn current-menu-ancestor  menu-item-has-children current_page_ancestor"><b>Expertise</b></button>
                     <div class="dropdown-content">
                       <a href="iot">IOT</a>
                       <a href="embedded">Embedded</a>
                       <a href="testing">Testing</a>
                       <a href="fullstack">FullStack</a>
                     </div>
                   </div>
                </li>
            </ul>
        </div>
        <!-- End Responsive Menu -->
    </div>
    <div class="top_wrapper   no-transparent">
        <!-- .header -->
        <!-- Page Head -->
        <div class="header_page basic background_image" style="background-image:url(assets/uploads/2014/11/1231.jpg);background-repeat: no-repeat; -webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;background-size: cover; color:#2f383d; ">
            <div class="container">

                <h1 class="title">Services</h1>
                <div class="breadcrumbss">
                    <ul class="page_parents pull-right">
                        <li class="breadcrumbs_c"><i class="moon-home-3"></i>&nbsp;&nbsp;&nbsp;You are here</li>
                        <li class="breadcrumbs_c"><a class="breadcrumbs_c" href="">Home</a></li>
                        <li class="breadcrumbs_c"><a class="breadcrumbs_c" href="">Services</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <section id="content" class="composer_content">
            <div id="fws_556c493b3dde0" class="wpb_row animate_onoffset  vc_row-fluid  animate_onoffset row-dynamic-el section-style    " style="padding-top: 60px !important; padding-bottom: 60px !important; ">
                <div class="container  dark">
                    <div class="section_clear">
                        <div class="vc_col-sm-12 wpb_column column_container" style="" data-animation="" data-delay="0">
                            <div class="wpb_wrapper">
                                <div id="fws_556c493b3e433" class="wpb_row animate_onoffset  vc_row-fluid  animate_onoffset row-dynamic-el standard_section    " style="padding-top: 0px !important; padding-bottom: 0px !important; ">
                                    <div class="container  dark">
                                        <div class="section_clear">
                                            <div class="vc_col-sm-6 wpb_column column_container" style="" data-animation="" data-delay="0">
                                                <div class="wpb_wrapper">
                                                    <div class="vc_empty_space" style="height: 64px"><span class="vc_empty_space_inner"></span></div>
                                                    <div class="wpb_content_element media media_el animate_onoffset"><img src="assets/uploads/2014/11/222-min-726x750.jpg" alt="" class="type_image media_animation animation_left alignment_left" style="" /></div>
                                                </div>
                                            </div>
                                            <div class="vc_col-sm-6 wpb_column column_container" style="" data-animation="" data-delay="0">
                                                <div class="wpb_wrapper">
                                                    <div class="header " style="">
                                                        <h2>We provide best solutions</h2></div>
                                                    <div class="wpb_text_column wpb_content_element ">
                                                        <div class="wpb_wrapper">
                                                            <p> <div class="wpb_wrapper" style="text-align: justify;">
                                                <p >ClueMinds understand what professionalism is. Our services are completely suitable and matched with the global standard.
                                                We understand our job and perform accordingly. Achieving 100 percent client satisfaction level is our motto and we work in that manner to achieve our goal.
                                               </p>
                                            </div>
                                                            </div>
                                                       </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--accordian color-->
            <style>
            .x-accordion-heading .x-accordion-toggle {
background-color: red !important;
} </style>

            <!--/accordian color-->


                <section class="section">
            <div id="fws_556c493b410f4" class="wpb_row animate_onoffset  vc_row-fluid  animate_onoffset row-dynamic-el section-style    " style="padding-top: 60px !important; padding-bottom: 60px !important; ">

                <div class="container  dark">
                    <div class="section_clear">
                        <div class="vc_col-sm-12 wpb_column column_container" style="" data-animation="" data-delay="0">
                            <div class="wpb_wrapper">
                                <div class="header " style="">
                                    <h2>Services</h2></div>
                                <div class="wpb_accordion wpb_content_element not-column-inherit">
                                    <div class="accordion " id="accordion1" data-active-tab="">
                                        <div class="accordion-group wpb_accordion_section group">
                                            <div class="accordion-heading ">
                                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#webanalytics">Web Analytics</a></div>
                                            <div id="webanalytics" class="accordion-body collapse ">
                                                <div class="accordion-inner">
                                                    <div class="wpb_text_column wpb_content_element ">
                                                        <div class="container-fluid-custom">
                                                                            <div class="row">
                                                                                   <div class="service-description">
                                                                                           <div class="service-description-header">
                                                                             <div class="col-md-7 center-block">
                                                                            <img src="https://images.pexels.com/photos/106344/pexels-photo-106344.jpeg?w=940&h=650&auto=compress&cs=tinysrgb"  alt="Mountain View">

                                                                            <div class="service-description-content">


                                                            <p><font size="3">Web analytics is the measurement, collection, analysis and reporting of web data for purposes of understanding and optimizing web usage. However, Web analytics is not just a process for measuring web traffic but can be used as a tool for business and market research,
                                                             and to assess and improve the effectiveness of a website. Web analytics applications can also help companies measure the results of traditional print or broadcast advertising campaigns.</font></p>
                                                              <div class="span4">
                                                             <div class="service-description-title">Tools Used</div>
                                                              <ol>
<li>Google AdWords Estimator tool And Keyword Tool</li>
<li>The SEMrush Tool helps to research your competitors' keywords and helps you dominate your niche in search rankings.</li>
<li>SocioBoard, is one of the most prominent and best open-source social media management tools that is currently available in the markets.</li>
<li>BuzzSu  15 free tools for SMEs and startups to help in digital marketing mo helps provide more information to digital marketers</li>
</ol>
                                                                    </div>
                                                                    </div>
                                                                    </div>
                                                                    </div>
                                                                    </div>

                                                        </div>

                                                </div>
                                            </div>
                                           </div>
                                        </div>
                                        </div>
                                        <div class="accordion-group wpb_accordion_section group">
                                            <div class="accordion-heading "><a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#iotbigdata">Iot And BigData</a></div>
                                            <div id="iotbigdata" class="accordion-body collapse ">
                                                <div class="accordion-inner">
                                                    <div class="wpb_text_column wpb_content_element ">
                                                        <div class="wpb_wrapper" style="text-align: justify;">
                                                            <div class="container-fluid-custom">
                                                                      <div class="row">
                                                                           <div class="service-description">

                                                            <div class="service-description-header">
                                                             <div class="col-md-7 center-block">
                                                        <img src=https://images.pexels.com/photos/325229/pexels-photo-325229.jpeg?w=940&h=650&auto=compress&cs=tinysrgb alt="Mountain View">
                                                        <div class="service-description-content">
                                                            <p>We build Android and iOS apps for IoT using different channels like WiFi, WiFi direct, Bluetooth Low Energy, Bluetooth 2.0, Zigbee and NFC. We create scalable solutions in this space, which connect customer's hardware to internet using these channels.</p>
                                                            <a href=/iot>click here to know more </a>
                                                            </div>
                                                            </div>
                                                            </div>
                                                            </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        </div>

                                        <div class="accordion-group wpb_accordion_section group">
                                            <div class="accordion-heading "><a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#emscms">EMS And CMS Applications</a></div>
                                            <div id="emscms" class="accordion-body collapse ">
                                                <div class="accordion-inner">
                                                    <div class="wpb_text_column wpb_content_element ">
                                                    <div class="container-fluid-custom">
                                                                      <div class="row">
                                                                           <div class="service-description">

                                                            <div class="service-description-header">
                                                              <div class="col-md-7 center-block">
                                                             <img src=https://images.pexels.com/photos/25970/pexels-photo.jpg?w=940&h=650&auto=compress&cs=tinysrgb alt="Mountain View">
                                                            <div class="service-description-content">
                                                            <p>We are a dedicated team, who have worked on Wordpress, Drupal, Joomla and various other content management systems. Our CMS methods have helped many non-technical persons to work independently to update newsletters or any business related content. Our company have been providing best solutions for many businesses. Experts have known how to maximise the results with best technical inputs made. These inputs have generated results for a long term business success.
                                                            </p>
                                                             <div class="service-description-title">Tools Used</div>
                                                              <ol>
<li>Wordpress: This is very common and well established CMS. E-commerce site can be developed more easier. There are many Plugins and this can be arranged quickly.</li>
<li>Joomla:This is unbelievably fast to implement with different customisable features. Though, without the knowledge of developing websites, you can able to edit the web pages.</li>
<li>Drupal:This is even admired by many users since it SEO friendlier site. And also it is perfectly suited for the enterprises and even considered mobile friendlier.</li></ol>
                                                            </div>
                                                            </div>
                                                            </div>
                                                            </div>
                                                            </div>
                                                    </div>
                                                    </div>
                                                    </div>
                                                    </div>
                                                    </div>





                                        <div class="accordion-group wpb_accordion_section group">
                                            <div class="accordion-heading "><a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#webdesigndevelopment">Web Design And Development</a></div>
                                            <div id="webdesigndevelopment" class="accordion-body collapse ">
                                                <div class="accordion-inner">
                                                    <div class="wpb_text_column wpb_content_element ">
                                                        <div class="wpb_wrapper" style="text-align: justify;">
                                                        <div class="container-fluid-custom">
                                                                      <div class="row">
                                                                           <div class="service-description">

                                                            <div class="service-description-header">
                                                              <div class="col-md-7 center-block">
                                                        <img src="https://images.pexels.com/photos/39284/macbook-apple-imac-computer-39284.jpeg?w=940&h=650&auto=compress&cs=tinysrgb" alt="Mountain View">
                                                         <div class="service-description-content">
                                                            <p>Clueminds develops effective websites that strengthen your online business performance. We help small and medium sized companies to Build a strong web presence and set apart from the competition. Our in house team has the experience and knowledge you need to help you through the process. From registering a new domain name and building a website to running an e-commerce business, email,we are ready to help you through the web.
                                                            We would be delighted to discuss with you the various options we can offer to help you generate more leads by improving your website.</p>
                                                            </div>
                                                            </div>
                                                            </div>
                                                            </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        </div>
                                         <div class="accordion-group wpb_accordion_section group">
                                            <div class="accordion-heading "><a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#mobileapplication">Mobile Application(ANDROID/IOS)</a></div>
                                            <div id="mobileapplication" class="accordion-body collapse ">
                                                <div class="accordion-inner">
                                                    <div class="wpb_text_column wpb_content_element ">
                                                        <div class="wpb_wrapper">
                                                        <div class="container-fluid-custom">
                                                                      <div class="row">
                                                                           <div class="service-description">

                                                            <div class="service-description-header">
                                                              <div class="col-md-7 center-block">
                                                        <img src="https://images.pexels.com/photos/50614/pexels-photo-50614.jpeg?w=940&h=650&auto=compress&cs=tinysrgb" alt="Mountain View" align="middle">
                                                        <div class="service-description-content">
                                                            <p>The first Android powered phone was launched in October 2008 and it created a new religion of mobile developers, propelling a change in the mobile handset and app economy. It powered both mobile phones and tablets and a variety of devices, which the hardware manufacturers could freely use and customize. By September 2012, there were over 675,000 apps available for Android platform, with 25 billion applications downloaded from the Play Store. Every business or enterprise needs an innovative Android App for their customers, employees or partners. If you have a need for a kick-ass Android App, Clueminds is the right partner for you.</p>
                                                        <div class="service-description-title">We develop high-quality Android Applications for Mobiles and Tablet</div>
                                                            <div class="service-description-content">
                                    <ul>
<li>E-commerce and Shopping Apps</li>
<li>Hardware design, peripherals and sensors integration, firmware engineering</li>
<li>Industrial design and compliance certification</li>
<li> Social Networking and Social Media Apps</li>
<li>Health, Fitness and Lifestyle Apps</li>
<li>Real Estate Apps And Home Automation Apps</li>
</ul>
                                </div>
                                                             </div>
                                                            </div>
                                                            </div>
                                                            </div>
                                                            </div>
                                                            </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>





                                         <div class="accordion-group wpb_accordion_section group">
                                            <div class="accordion-heading "><a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#webhosting">Web Hosting(CLOUD AND DEDICATED SERVER)</a></div>
                                            <div id="webhosting" class="accordion-body collapse ">
                                                <div class="accordion-inner">
                                                    <div class="wpb_text_column wpb_content_element ">
                                                        <div class="wpb_wrapper" style="text-align: justify;">
                                                        <div class="container-fluid-custom">
                                                                      <div class="row">
                                                                           <div class="service-description">

                                                            <div class="service-description-header">
                                                              <div class="col-md-7 center-block">
                                                        <img src="https://static.pexels.com/photos/335907/pexels-photo-335907.jpeg" alt="Mountain View" align="middle">
                                                         <div class="service-description-content">
                                                            <p>Hosting is the foundation for your entire business. It’s worth to spend some little bit of money to hosting, because if the hosting goes down, then your entire business will go down. If it is too slow, then people will look somewhere and if you have limited budget, then shared hosting solution is the right option . Think about which is right for you and which is the best hosting to your blog, and how you come know what to look for?<br>Our web hosting plans square measure designed to incorporate all the options you’re hankering for at the simplest attainable worth. CLueminds is that the latest initiative of IT Services Company that provides end to end UI design, E-commerce & Open Source Development. We develop web apps and wealthy internet applications with usability and accessibility rules having best User expertise practices invariably in mind.
                                                            </p>
                                                             </div>
                                                             </div>
                                                             </div>
                                                             </div>
                                                             </div>
                                                             </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Social Profiles -->
        <!-- Footer -->
    </div>
    <div class="footer_wrapper">

     <footer id="footer" class="type_">
            <div class="inner">
                <div class="container">
                    <div class="row-fluid ff">
                        <!-- widget -->
                        <div class="span4">
                            <div id="text-2" class="widget widget_text">
                                <h4 class="widget-title">About ClueMinds</h4>
                                <div class="textwidget" style="text-align: justify;">Clue Minds is a global information technology, consulting and outsourcing company. From engineering to application development, knowledge management and business process management, we help our clients find the right problems to solve, and to solve these effectively.</div>
                            </div>
                        </div>
                        <div class="span4">
                            <div id="widget_recent_content-2" class="widget widget_recent_content">
                                <h4 class="widget-title">Recent Posts</h4>
                                <div id="popular_widget">
                                    <dl>
                                        <dt>
                                            <i class='moon-pencil'></i>
                                        </dt>
                                        <dd>
                                            <div class="title"><a href="http://clueminds.blogspot.in/">Blog Published</a></div>

                                        </dd>
                                    </dl>
                                    <dl>
                                        <dt>
                                            <i class='moon-pencil'></i>
                                        </dt>
                                        <dd>
                                            <div class="title"><a href="https://twitter.com/clueminds">Twitter Post</a></div>

                                        </dd>
                                    </dl>
                                    <dl>
                                        <dt>
                                            <i class='moon-pencil'></i>
                                        </dt>
                                        <dd>
                                            <div class="title"><a href="https://www.facebook.com/Clueminds">Facebook</a></div>

                                        </dd>
                                    </dl>
                                </div>
                            </div>
                        </div>

                        <div class="span4">
                            <div id="widget_contact_info-2" class="widget widget_contact_info">
                                <h4 class="widget-title">Contact Info</h4>
                                <ul>
                                    <li class="address">

                                        <span>#1,2nd main,Horamavu main road,Papanna Layout,</span><br>
                                        <span>Opp. to State Bank Of India, </span><br>
                                        <span>Bangalore-560043</span>

                                        </li>
                                    <li class="email"><span>info@clueminds.com</span></li>
                                    <li class="phone"><span>+91 7892854744 </span></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="arrow_down"><i class="icon-angle-up"></i></div>
            </div>
            <div id="copyright">
                <div class="container">
                    <div class="row-fluid">
                        <div class="span12 desc">
                            <div class="span4">
                                <div id="text-3" class="widget widget_text">
                                    <div class="textwidget">COPYRIGHT &copy; 2017 - ALL RIGHTS RESERVED</div>
                                </div>
                            </div>
                            <div class="span4"></div>
                            <div class="span4">
                                <div id="nav_menu-2" class="widget widget_nav_menu">
                                    <div class=" megamenu_container">
                                        <ul id="menu-footer" class="menu themeple_megemenu">
                                            <li class="menu-item   current-menu-item current_page_item menu-item-home"><a href="index">Home</a></li>
                                            <li class="  current_page_parent"><a href="about">About Us</a></li>
                                            <li><a href="projects">Projects</a></li>
                                            <li><a href="service">Service</a></li>
                                            <li><a href="contact">Contact Page</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- #copyright -->
        </footer>
        <!--Start of Tawk.to Script-->
<script type="text/javascript">
var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
(function(){
var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
s1.async=true;
s1.src='https://embed.tawk.to/593939d14374a471e7c520b9/default';
s1.charset='UTF-8';
s1.setAttribute('crossorigin','*');
s0.parentNode.insertBefore(s1,s0);
})();
</script>


        <!-- #footer -->
    </div>
    <script type='text/javascript' src='assets/js/jquery.hoverex.js'></script>
    <script type='text/javascript' src='assets/js/imagesloaded.pkgd.min.js'></script>
    <script type='text/javascript' src='assets/js/jquery.parallax.js'></script>
    <script type='text/javascript' src='assets/js/jquery.cookie.js'></script>
    <script type='text/javascript' src='assets/js/main.js'></script>
    <script type='text/javascript' src='assets/includes/js/comment-reply.min.js'></script>
    <script type='text/javascript' src='assets/js/jquery.placeholder.min.js'></script>
    <script type='text/javascript' src='assets/js/jquery.livequery.js'></script>
    <script type='text/javascript' src='assets/js/jquery.countdown.min.js'></script>
    <script type='text/javascript' src='assets/js/waypoints.min.js'></script>
    <script type='text/javascript' src='assets/js/background-check.min.js'></script>
    <script type='text/javascript' src='assets/js/idangerous.swiper.min.js'></script>
    <script type='text/javascript' src='assets/js/jquery.infinitescroll.js'></script>
    <script type='text/javascript' src='assets/plugins/js_composer/assets/js/js_composer_front.js'></script>
    <script type='text/javascript' src='assets/includes/js/jquery/ui/core.min.js'></script>
    <script type='text/javascript' src='assets/includes/js/jquery/ui/widget.min.js'></script>
    <script type='text/javascript' src='assets/includes/js/jquery/ui/accordion.min.js'></script>
</body>


</html>
